<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<p>has given <%= pluralize(@user.ratings.count, 'rating') %>, average <%= round(@user.average_rating) %></p>

<p>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if currently_signed_in? @user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<% if not @user.beer_clubs.empty? %>
  <p>
    belongs to
    <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, club %>
    <% end %>
  </p>
<% end %>

<% if not @user.favorite_brewery.nil? %>
    <p>
      <strong>Favorite brewery:</strong>
      <%= @user.favorite_brewery.name %>
    </p>
<% end %>

<% if not @user.favorite_style.nil? %>
    <p>
      <strong>Favorite style:</strong>
      <%= @user.favorite_style.name %>
    </p>
<% end %>

<% if currently_signed_in? @user %>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-warning' %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
<% end %>
<%= link_to 'Back', users_path, :class => 'btn btn-primary' %>
