<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %>
  <% if not @brewery.active %>
      <span class="label label-info">Retired</span>
  <% end %>
</h2>

<p>
  <i>Established year <%= @brewery.year %></i>
</p>

<p>Number of beers: <%= @brewery.beers.count %></p>

<p>
  <ul>
  <% @brewery.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %></li>
  <% end %>
  </ul>
</p>

<% unless @brewery.ratings.empty? %>
<p>Beers of the brewery have <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= round(@brewery.average_rating) %></p>
<% end %>

<%= edit_and_destroy_buttons(@brewery) %>
<%= link_to 'Back', breweries_path, :class => 'btn btn-primary' %>
